<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|JobPortal.mdf;Integrated Security=True;User Instance=True" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\JobPortal.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="username" value="Admin"/>
    <add key="password" value="admin@123"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="jobportal.admin.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="jobportal.admin.Service1">
                <endpoint address="" behaviorConfiguration="jobportal.admin.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="jobportal.admin.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
